/**
Theme Name: James And Son Trucking
Author: Numerouno Web Solutions
Author URI: https://www.numerounoweb.com/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: james-and-son-trucking
Template: astra
*/
@import url("bootstrap.min.css");
body{
    font-family: "rubik";
}
.elementor-column-gap-default>.elementor-column>.elementor-element-populated{
    padding: 0;
}
.list-banner  li{
    font-size: 22px!important;
    color: #fff;
    margin-right: 10px!important;
    line-height: 40px!important;
}
.list-banner li::marker{
    content: "\f192";    
    font-family:"Font Awesome 5 Free";
}

.wpcf7-form .wpcf7-form-control-wrap {
    margin-bottom: 30px;
    display: block;
  }
  .wpcf7-form .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
    display: none;
  }
  .wpcf7-form .wpcf7-form-control-wrap .wpcf7-not-valid {
    border-color: #f13c3c !important;
  }
  .wpcf7-form .wpcf7-response-output {
    border: medium none;
    font-style: italic;
    padding: 0;
    margin: 20px 0 0;
  }
  .wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
    color: #398f14;
  }
  .wpcf7-form .wpcf7-response-output.wpcf7-validation-errors {
    color: #f13c3c;
  }
  .wpcf7-form .ajax-loader {
    display: none !important;
  }
  .wpcf7-form .wpcf7-menu {
    display: block;
  }
  .wpcf7-form .wpcf7-menu select {
    background-color: transparent;
    -webkit-appearance: none;
    -khtml-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    z-index: 99;
  }
  .wpcf7-form .wpcf7-menu select option {
    padding: 5px;
  }
  .wpcf7-form .wpcf7-checkbox.theme-checkbox {
    display: inline-flex;
    margin-top: 30px;
  }
  .wpcf7-form .wpcf7-checkbox.theme-checkbox > span {
    font-size: 14px;
    line-height: 29px;
    padding-left: 32px;
    margin-left: 30px;
    position: relative;
  }
  @media screen and (max-width: 1024px) {
    .wpcf7-form .wpcf7-checkbox.theme-checkbox > span {
      margin-left: 0;
    }
  }
  .wpcf7-form .wpcf7-checkbox.theme-checkbox > span input, .wpcf7-form .wpcf7-checkbox.theme-checkbox > span .wpcf7-list-item-label:before, .wpcf7-form .wpcf7-checkbox.theme-checkbox > span .wpcf7-list-item-label:after {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 5px;
  }
  .wpcf7-form .wpcf7-checkbox.theme-checkbox > span .wpcf7-list-item-label:before {
    content: '';
    display: inline-flex;
    width: 20px;
    height: 20px;
    border: 2px solid #eaeaea;
    background-color: transparent;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
  }
  .wpcf7-form .wpcf7-checkbox.theme-checkbox > span .wpcf7-list-item-label:after {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    z-index: 2;
    font-size: 8px;
    color: #e11d07;
    opacity: 0;
    line-height: 20px;
    text-align: center;
  }
  .wpcf7-form .wpcf7-checkbox.theme-checkbox > span input {
    z-index: 99;
    opacity: 0;
  }
  .wpcf7-form .wpcf7-checkbox.theme-checkbox > span input:checked + .wpcf7-list-item-label:before {
    border-color: #eaeaea;
    background-color: #fff;
  }
  .wpcf7-form .wpcf7-checkbox.theme-checkbox > span input:checked + .wpcf7-list-item-label:after {
    opacity: 1;
  }
.cms-contact-form input[type="text"]:focus, .cms-contact-form input[type="email"]:focus, .cms-contact-form input[type="url"]:focus, .cms-contact-form input[type="password"]:focus, .cms-contact-form input[type="number"]:focus, .cms-contact-form input[type="tel"]:focus, .cms-contact-form input[type="date"]:focus, .cms-contact-form input[type="month"]:focus, .cms-contact-form input[type="week"]:focus, .cms-contact-form textarea:focus {
    outline: 0;
    border-color: #e11d07;
  }
  .cms-contact-form label {
    font-size: 14px;
    color: #1b1a1a;
    font-weight: bold;
    margin-bottom: 13px;
  }
  .cms-contact-form label + span.wpcf7-form-control-wrap {
    margin-bottom: 25px;
  }
  .cms-contact-form p {
    margin-bottom: 2px;
  }
  .cms-contact-form p i {
    margin-right: 10px;
  }
  .cms-contact-form .top-space {
    margin-top: 15px;
  }
  .cms-contact-form .wpcf7-list-item {
    margin: 3px 30px 6px 0;
    display: inline-flex;
    align-items: baseline;
    position: relative;
  }
  @media screen and (max-width: 767px) {
    .cms-contact-form .wpcf7-list-item {
      margin-bottom: 15px;
    }
  }
  .cms-contact-form .wpcf7-list-item input[type="radio"] {
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    cursor: pointer;
  }
  .cms-contact-form .wpcf7-list-item input[type="radio"] + span {
    position: relative;
    padding-left: 27px;
    font-size: 13px;
  }
  .cms-contact-form .wpcf7-list-item input[type="radio"] + span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    cursor: pointer;
    display: block;
    width: 17px;
    height: 17px;
    border: 2px solid #eaeaea;
  }
  .cms-contact-form .wpcf7-list-item input[type="radio"] + span::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 1px;
    left: 5px;
    top: 6px;
    background-color: transparent;
  }
  .cms-contact-form .wpcf7-list-item input[type="radio"]:checked + span::after {
    background-color: #e11d07;
  }
  .cms-contact-form .contact-form-desc {
    margin-bottom: 37px;
  }
  .cms-contact-form .ct-description {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 33px;
  }
  .cms-contact-form .ct-description-small {
    font-size: 12px;
    margin-top: -2px;
    margin-bottom: 17px;
  }
  .cms-contact-form .contact-form-box {
    margin-top: 6px;
  }
  .cms-contact-form .contact-form-box .box-heading {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #222;
    margin-bottom: 15px;
  }
  .cms-contact-form .contact-form-box .box-heading.heading-underline {
    position: relative;
    margin-bottom: 45px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  .cms-contact-form .contact-form-box .box-heading.heading-underline:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    background: #eaeaea;
    left: 0;
    right: 0;
    bottom: -15px;
  }
  .cms-contact-form .contact-form-box .box-heading.heading-underline span {
    position: relative;
    display: inline-block;
  }
  .cms-contact-form .contact-form-box .box-heading.heading-underline span:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    background: #e11d07;
    left: 0;
    right: 0;
    bottom: -15px;
    z-index: 2;
  }
  .cms-contact-form .contact-form-box.radio-above {
    margin-top: 15px;
  }
  .cms-contact-form .contact-form-box .half-left {
    width: 50%;
    padding-right: 10px;
    float: left;
  }
  .cms-contact-form .contact-form-box .half-right {
    width: 50%;
    padding-left: 10px;
    float: left;
  }
  .cms-contact-form.has-title {
    box-shadow: 0 5px 83px 0 rgba(40, 40, 40, 0.08);
    background: #fff;
  }
  .cms-contact-form.has-title .title {
    display: flex;
    background: #e11d07;
    align-items: center;
    padding: 22px 50px;
  }
  .cms-contact-form.has-title .title img {
    max-width: 32px;
    margin-right: 15px;
    flex: none;
  }
  .cms-contact-form.has-title .title h3 {
    font-size: 17px;
    color: #fff;
    margin-bottom: 0;
  }
  .cms-contact-form.has-title form {
    padding: 34px 50px 50px;
  }
  .cms-contact-form.has-title form .wpcf7-form-control-wrap {
    margin-bottom: 13px;
  }
  .cms-contact-form.has-title form .wpcf7-response-output {
    text-align: left;
    margin-bottom: 15px;
    padding: 0;
    background: transparent;
    border: none;
  }
  .cms-contact-form.has-title form .btn {
    padding: 0 48px;
  }
  .cms-contact-form.has-title.small-title .title h3 {
    font-size: 16px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }
  @media screen and (min-width: 1200px) and (max-width: 1350px) {
    .cms-contact-form.in-slider {
      display: none;
    }
  }
  .btn.btn-fullwidth {
    width: 100%;
  }
  .btn.btn-fullwidth i {
    margin-left: 20px;
    position: relative;
    top: 1px;
  }
  .footer-widget-area{
    color: #ffffff!important;
  }
 footer .widget-title{
  color: #ffffff!important;
}
footer a{
  color: #ffffff!important;
}
footer .fa{
  color: #e11d07;
}
footer ul li{
  line-height: 42px;
}
footer ul li:before{
  content: "\f192";    
  font-family:"Font Awesome 5 Free";
  margin-right: 10px;
}